# IF3170 Artificial Intelligence | Tugas Besar 2

This notebook serves as a template for the assignment. Please create a copy of this notebook to complete your work. You can add more code blocks, markdown blocks, or new sections if needed.




# Detect numeric columns that are binary-like (only 0/1 plus possible NaNs).
# We check both integer and float numeric dtypes and allow small floating rounding tolerance.
import numpy as np
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

def is_binary_like(series, tol=1e-8):
    vals = series.dropna().values
    if vals.size == 0:
        return False
    # allow floats that are very close to 0 or 1
    return np.all(np.isclose(vals, 0, atol=tol) | np.isclose(vals, 1, atol=tol))

binary_like_features = [col for col in num_cols if is_binary_like(df[col])]

# Categorical columns (object/category) + detected binary-like numeric columns
categorical_features = df.select_dtypes(include=['object', 'category']).columns.tolist()
all_categorical_features = list(binary_like_features) + list(categorical_features)

# Exclude columns that should not be treated as categorical for this dataset
exclude = ['NoOfURLRedirect', 'NoOfSelfRedirect', 'FILENAME', 'URL', 'Domain', 'Title']
all_categorical_features = [f for f in all_categorical_features if f not in exclude and f in df.columns]

# Ensure we include the target column(s) used in this notebook (prefer 'label', fallback to 'attack_cat')
if 'label' in df.columns and 'label' not in all_categorical_features:
    all_categorical_features.append('label')
elif 'attack_cat' in df.columns and 'attack_cat' not in all_categorical_features:
    all_categorical_features.append('attack_cat')

# Create DataFrame with unique counts for the selected categorical features
unique_values = df[all_categorical_features].nunique(dropna=True)
unique_values2 = pd.DataFrame(unique_values, columns=['Unique Value']).reset_index()
unique_values2.rename(columns={'index': 'Feature'}, inplace=True)
# Reset index to start from 1 for nicer display
unique_values2.index = range(1, len(unique_values2) + 1)

print('










1. Wijaksara Aptaluhung (18223088)
2. Inggried Amelia Deswanty (18223935)
3. Persada Ramiiza Abyudaya (18223033)
4. Wisa Ahmaduta Dinutama (18223003)

Group Members:sourcemetadataidunique_values2Number of Unique Values for Categorical Features (including detected 0/1/NaN numeric columns):')

## Import Libraries

In [22]:
!pip install scipy

Collecting scipy
  Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.2.6)
Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl (38.5 MB)
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
   - -------------------------------------- 1.0/38.5 MB 5.8 MB/s eta 0:00:07
   -- ------------------------------------- 2.1/38.5 MB 5.5 MB/s eta 0:00:07
   --- ------------------------------------ 3.4/38.5 MB 5.7 MB/s eta 0:00:07
   ---- ----------------------------------- 4.7/38.5 MB 5.9 MB/s eta 0:00:06
   ----- ---------------------------------- 5.8/38.5 MB 5.9 MB/s eta 0:00:06
   ------- -------------------------------- 7.1/38.5 MB 5.9 MB/s eta 0:00:06
   -------- ------------------------------- 8.7/38.5 MB 6.0 MB/s eta 0:00:05
   ---------- ----------------------------- 9.7/38.5 MB 6.0 MB/s eta 0:00:05
   ----------- ---------------------------- 11.0/38.5 MB 6.0 MB/s eta 0:00:05
   ------------ --------------------------- 12.3/38.5 MB 6.0 MB/s eta 0:00:05
   -------------- ------------------------- 13.6/38.5 MB 6.1 MB/s eta 0:00:05
   --------------- ------------------------ 14.9/38.5 MB 6.1 MB/s eta 0:00:04
   ---------------- ----------------------- 16.3/38.5 MB 6.1 MB/s eta 0:00:04
   ------------------ --------------------- 17.8/38.5 MB 6.2 MB/s eta 0:00:04
   -------------------- ------------------- 19.4/38.5 MB 6.2 MB/s eta 0:00:04
   --------------------- ------------------ 20.7/38.5 MB 6.3 MB/s eta 0:00:03
   ----------------------- ---------------- 22.3/38.5 MB 6.3 MB/s eta 0:00:03
   ------------------------ --------------- 23.6/38.5 MB 6.4 MB/s eta 0:00:03
   -------------------------- ------------- 25.2/38.5 MB 6.4 MB/s eta 0:00:03
   ---------------------------- ----------- 27.0/38.5 MB 6.5 MB/s eta 0:00:02
   ----------------------------- ---------- 28.6/38.5 MB 6.6 MB/s eta 0:00:02
   ------------------------------- -------- 30.1/38.5 MB 6.6 MB/s eta 0:00:02
   --------------------------------- ------ 32.0/38.5 MB 6.7 MB/s eta 0:00:01
   ---------------------------------- ----- 33.6/38.5 MB 6.8 MB/s eta 0:00:01
   ------------------------------------ --- 35.1/38.5 MB 6.8 MB/s eta 0:00:01
   -------------------------------------- - 37.0/38.5 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 38.5/38.5 MB 6.9 MB/s eta 0:00:00
Installing collected packages: scipy
Successfully installed scipy-1.16.3

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 50)

## Import Dataset

In [4]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

print("Train shape:", train.shape)
print(train.head())
print("\nTest shape:", test.shape)
print(test.head())

Train shape: (100000, 31)
   ID transaction_id  user_id  age gender country device_type device_os  \
0   0       T0065716    15307   35      M      UK      mobile   Android
1   1       T0027857     1226   54      F      IN      mobile   Android
2   2       T0055953    16072   35      M      US     desktop       iOS
3   3       T0083660      725   23      F      US      mobile   Android
4   4       T0017674     7367   32      M      UK      mobile   Android

  merchant_category  transaction_amount transaction_type  time_of_day  \
0          clothing               17.70         purchase           18
1       restaurants                 NaN         purchase            7
2       restaurants                5.20         purchase           15
3       electronics              180.70         purchase           18
4               gas               35.45         purchase            8

   day_of_week  transaction_duration  num_prev_transactions  \
0            1                  3.04                     34
1            3                  0.33                     28
2            5                  7.85                     31
3            3                  4.71                     32
4            3                  1.56                     21

   avg_transaction_amount  std_transaction_amount  transactions_last_24h  \
0                   91.01                   56.68                      0
1                     NaN                   50.11                      1
2                  111.05                   20.79                      3
3                   27.88                   73.32                      3
4                   81.34                   73.28                      0

   transactions_last_1h  failed_login_attempts  ip_risk_score  \
0                     0                      1          0.464
1                     0                      0          0.997
2                     0                      0          0.940
3                     0                      0          0.166
4                     0                      0          0.870

   device_trust_score  account_age_days  has_chargeback_history  \
0               0.793              1056                       0
1                 NaN              1867                       0
2               0.281              1726                       1
3               0.061                30                       1
4               0.592              1386                       0

   shared_ip_users  shared_device_users  merchant_risk  country_risk  \
0                1                    1           0.10          0.04
1                1                    1           0.12          0.10
2                2                    2           0.12          0.05
3                1                    1           0.30          0.05
4                3                    1           0.05          0.04

   distance_from_home  is_new_country  is_fraud
0                9.66               0         1
1               12.05               0         1
2              181.28               0         0
3               33.26               0         0
4              174.83               0         0

Test shape: (100000, 30)
   ID transaction_id  user_id  age gender country device_type device_os  \
0   0       T0065716     1199   58      M      UK      tablet   Android
1   1       T0027857    29841   71      M      BR     desktop   Android
2   2       T0055953    25403   76      F      CA      tablet       iOS
3   3       T0083660    27600   70      F      UK      mobile       iOS
4   4       T0017674    21543   70      F      US      mobile   Windows

  merchant_category  transaction_amount transaction_type  time_of_day  \
0               gas                3.54            topup            6
1         groceries               94.80         transfer           17
2       restaurants               84.45         transfer           18
3               gas               23.66            topup           20
4            travel               81.45         transfer           18

   day_of_week  transaction_duration  num_prev_transactions  \
0            0                  4.03                     42
1            0                 15.68                     20
2            0                  0.13                     32
3            4                  3.75                     34
4            2                  6.55                     32

   avg_transaction_amount  std_transaction_amount  transactions_last_24h  \
0                  102.55                   55.15                      2
1                   40.50                   70.61                      2
2                   80.61                   77.97                      2
3                    7.48                   19.61                      4
4                   88.94                   54.31                      1

   transactions_last_1h  failed_login_attempts  ip_risk_score  \
0                     0                      0          0.906
1                     0                      0          0.917
2                     1                      0          0.675
3                     0                      0          0.541
4                     1                      0          0.832

   device_trust_score  account_age_days  has_chargeback_history  \
0               0.595              2305                       0
1               0.553              2911                       0
2               0.614              2952                       0
3               0.493              2539                       0
4               0.183              1017                       0

   shared_ip_users  shared_device_users  merchant_risk  country_risk  \
0                3                    3           0.05          0.04
1                3                    3           0.05          0.13
2                1                    1           0.12          0.03
3                2                    2           0.05          0.04
4                1                    2           0.35          0.05

   distance_from_home  is_new_country
0               13.55               0
1                6.09               0
2              118.59               0
3              255.86               0
4               16.19               0

# Exploratory Data Analysis (Optional)

Exploratory Data Analysis (EDA) is a crucial step in the data analysis process that involves examining and visualizing data sets to uncover patterns, trends, anomalies, and insights. It is the first step before applying more advanced statistical and machine learning techniques. EDA helps you to gain a deep understanding of the data you are working with, allowing you to make informed decisions and formulate hypotheses for further analysis.

### Data Understanding
The purpose of this section is to help participants understand the quality and initial characteristics of the provided data. This is a core part of Exploratory Data Analysis (EDA), which aims to assess the structure and completeness of the data, identify patterns, anomalies, and potential issues, understand relationships between variables, and determine the appropriate next steps for preprocessing or modeling.

PART 1:
1. The dataset size shows how many rows and columns you have, helping you understand the amount of data.
2. The data types show how each feature should be handled, such as numbers or categories.
3. The count of unique values in categorical features shows how many different categories there are.
4. The basic statistics for numerical features show the range and spread of the data, helping you spot patterns or outliers.

In [5]:
try:
  df = pd.read_csv('train.csv')

except FileNotFoundError:
  print("Error: File Tidak Ditemukan.")

except Exception as e:
  print(f"Terjadi error: {e}")

1.1. Data Size

In [6]:
size = df.shape
print(f"Data Size: {size[0]} instances, {size[1]} features")

Data Size: 100000 instances, 31 features

1.2 Data Type & Information

In [7]:
# Menampilkan informasi tentang struktur DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      100000 non-null  int64
 1   transaction_id          100000 non-null  object
 2   user_id                 100000 non-null  int64
 3   age                     100000 non-null  int64
 4   gender                  100000 non-null  object
 5   country                 100000 non-null  object
 6   device_type             100000 non-null  object
 7   device_os               100000 non-null  object
 8   merchant_category       100000 non-null  object
 9   transaction_amount      97581 non-null   float64
 10  transaction_type        100000 non-null  object
 11  time_of_day             100000 non-null  int64
 12  day_of_week             100000 non-null  int64
 13  transaction_duration    100000 non-null  float64
 14  num_prev_transactions   100000 non-null  int64
 15  avg_transaction_amount  97581 non-null   float64
 16  std_transaction_amount  100000 non-null  float64
 17  transactions_last_24h   100000 non-null  int64
 18  transactions_last_1h    100000 non-null  int64
 19  failed_login_attempts   100000 non-null  int64
 20  ip_risk_score           100000 non-null  float64
 21  device_trust_score      97581 non-null   float64
 22  account_age_days        100000 non-null  int64
 23  has_chargeback_history  100000 non-null  int64
 24  shared_ip_users         100000 non-null  int64
 25  shared_device_users     100000 non-null  int64
 26  merchant_risk           100000 non-null  float64
 27  country_risk            100000 non-null  float64
 28  distance_from_home      100000 non-null  float64
 29  is_new_country          100000 non-null  int64
 30  is_fraud                100000 non-null  int64
dtypes: float64(9), int64(15), object(7)
memory usage: 23.7+ MB

In [8]:
# Menampilkan 20 baris pertama dari DataFrame
df.head(20)

,ID,transaction_id,user_id,age,gender,country,device_type,device_os,merchant_category,transaction_amount,transaction_type,time_of_day,day_of_week,transaction_duration,num_prev_transactions,avg_transaction_amount,std_transaction_amount,transactions_last_24h,transactions_last_1h,failed_login_attempts,ip_risk_score,device_trust_score,account_age_days,has_chargeback_history,shared_ip_users,shared_device_users,merchant_risk,country_risk,distance_from_home,is_new_country,is_fraud
0,0,T0065716,15307,35,M,UK,mobile,Android,clothing,17.700000,purchase,18,1,3.04,34,91.01,56.68,0,0,1,0.464,0.793,1056,0,1,1,0.10,0.04,9.660000,0,1
1,1,T0027857,1226,54,F,IN,mobile,Android,restaurants,NaN,purchase,7,3,0.33,28,NaN,50.11,1,0,0,0.997,NaN,1867,0,1,1,0.12,0.10,12.050000,0,1
2,2,T0055953,16072,35,M,US,desktop,iOS,restaurants,5.200000,purchase,15,5,7.85,31,111.05,20.79,3,0,0,0.940,0.281,1726,1,2,2,0.12,0.05,181.280000,0,0
3,3,T0083660,725,23,F,US,mobile,Android,electronics,180.700000,purchase,18,3,4.71,32,27.88,73.32,3,0,0,0.166,0.061,30,1,1,1,0.30,0.05,33.260000,0,0
4,4,T0017674,7367,32,M,UK,mobile,Android,gas,35.450000,purchase,8,3,1.56,21,81.34,73.28,0,0,0,0.870,0.592,1386,0,3,1,0.05,0.04,174.830000,0,0
5,5,T0098705,25100,60,M,ID,mobile,Android,electronics,32.570000,purchase,7,0,3.74,33,61.45,26.87,1,0,1,0.717,0.971,1950,0,4,1,0.30,0.12,72.280000,0,0
6,6,T0004247,10914,66,F,IN,mobile,Android,gas,2.580000,purchase,9,4,4.25,28,103.94,73.73,1,0,1,0.591,0.231,2892,0,1,1,0.05,0.10,31.190000,0,0
7,7,T0015406,15286,57,F,US,desktop,Android,gas,57.610000,purchase,14,6,1.10,28,21.86,5.78,0,1,0,0.681,0.424,2977,0,4,1,0.05,0.05,11.160000,0,0
8,8,T0084982,16868,36,M,IN,mobile,iOS,restaurants,7.520000,purchase,18,5,0.47,29,79.46,57.75,0,0,0,0.857,0.580,2760,0,3,2,0.12,0.10,0.350000,0,1
9,9,T0037909,8333,64,M,IN,mobile,Windows,services,91.020000,purchase,7,2,8.08,25,71.07,45.65,1,0,0,0.455,0.743,1438,0,3,1,0.08,0.10,191.100000,0,0
10,10,T0040057,18700,68,F,US,mobile,Windows,groceries,1.530000,topup,18,5,4.29,27,80.94,23.09,0,0,0,0.299,0.375,2187,0,0,1,0.05,0.05,47.670000,0,0
11,11,T0036638,13595,21,F,UK,mobile,Android,travel,21.510000,withdrawal,7,4,4.66,28,94.53,44.56,1,0,0,0.372,0.307,380,0,0,2,0.35,0.04,61.070000,0,0
12,12,T0022879,5856,42,F,UK,desktop,Android,restaurants,706.583897,purchase,17,0,3.71,18,132.68,44.47,35,14,0,0.929,0.550,2058,0,0,0,0.12,0.04,29.403069,0,0
13,13,T0063999,27255,39,F,BR,mobile,Android,gas,97.350000,purchase,7,5,1.93,28,65.59,32.71,2,0,0,0.416,0.726,2658,0,1,3,0.05,0.13,57.910000,0,0
14,14,T0095901,27680,61,F,CA,mobile,Windows,groceries,27.060000,purchase,9,6,12.73,25,74.25,50.50,0,1,1,0.750,0.728,2987,1,2,1,0.05,0.03,77.420000,0,0
15,15,T0098278,8246,29,F,ID,mobile,Android,services,36.850000,purchase,9,5,3.90,29,85.32,25.75,5,0,0,0.992,0.620,172,0,2,3,0.08,0.12,11.120000,0,0
16,16,T0084804,24072,58,M,IN,mobile,Android,restaurants,3.130000,purchase,20,1,0.17,26,58.66,76.09,1,0,0,0.813,0.976,2554,1,2,0,0.12,0.10,162.840000,0,0
17,17,T0099351,27469,69,F,US,mobile,Android,financial,25.180000,purchase,2,4,6.33,30,71.42,35.72,1,0,0,0.808,0.495,1884,0,0,1,0.50,0.05,13.770000,0,0
18,18,T0046500,29620,33,F,CA,mobile,Android,gas,325.120000,purchase,17,1,1.85,34,60.77,35.59,1,0,0,0.025,0.983,319,0,1,0,0.05,0.03,13.970000,0,1
19,19,T0045206,11258,25,M,UK,mobile,Android,electronics,258.540000,transfer,7,6,0.41,25,40.88,53.04,2,0,0,0.688,0.289,89,0,1,1,0.30,0.04,129.130000,0,1

In [9]:
# Menampilkan tipe data dari setiap fitur dalam DataFrame
df.dtypes

ID                          int64
transaction_id             object
user_id                     int64
age                         int64
gender                     object
country                    object
device_type                object
device_os                  object
merchant_category          object
transaction_amount        float64
transaction_type           object
time_of_day                 int64
day_of_week                 int64
transaction_duration      float64
num_prev_transactions       int64
avg_transaction_amount    float64
std_transaction_amount    float64
transactions_last_24h       int64
transactions_last_1h        int64
failed_login_attempts       int64
ip_risk_score             float64
device_trust_score        float64
account_age_days            int64
has_chargeback_history      int64
shared_ip_users             int64
shared_device_users         int64
merchant_risk             float64
country_risk              float64
distance_from_home        float64
is_new_country              int64
is_fraud                    int64
dtype: object

In [11]:
# Menampilkan statistik deskriptif dari DataFrame
df.describe()

,ID,user_id,age,transaction_amount,time_of_day,day_of_week,transaction_duration,num_prev_transactions,avg_transaction_amount,std_transaction_amount,transactions_last_24h,transactions_last_1h,failed_login_attempts,ip_risk_score,device_trust_score,account_age_days,has_chargeback_history,shared_ip_users,shared_device_users,merchant_risk,country_risk,distance_from_home,is_new_country,is_fraud
count,100000.000000,100000.000000,100000.000000,97581.000000,100000.000000,100000.000000,100000.000000,100000.00000,97581.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,97581.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,49999.500000,15040.173180,48.484150,126.855288,12.770160,2.780700,3.999587,29.99208,69.969722,42.541209,2.040150,0.30923,0.298110,0.500395,0.499480,1497.325540,0.060270,2.000770,1.499800,0.192980,0.071324,117.411584,0.049580,0.141280
std,28867.657797,8655.074007,17.892168,376.035544,5.748626,2.064754,4.012831,5.48621,29.961530,21.652791,3.967414,1.46423,0.546208,0.288944,0.288812,866.004305,0.237988,1.414676,1.225885,0.134019,0.033203,212.016312,0.217077,0.348312
min,0.000000,1.000000,18.000000,0.010000,0.000000,0.000000,0.000000,8.00000,-52.890000,5.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.050000,0.020000,0.000000,0.000000,0.000000
25%,24999.750000,7549.000000,33.000000,26.910000,8.000000,1.000000,1.150000,26.00000,49.780000,23.860000,1.000000,0.00000,0.000000,0.250000,0.249000,745.000000,0.000000,1.000000,1.000000,0.080000,0.040000,29.620000,0.000000,0.000000
50%,49999.500000,15093.000000,48.000000,64.460000,12.000000,3.000000,2.760000,30.00000,69.990000,42.480000,1.000000,0.00000,0.000000,0.501000,0.499000,1496.000000,0.000000,2.000000,1.000000,0.120000,0.050000,71.810000,0.000000,0.000000
75%,74999.250000,22541.000000,64.000000,131.060000,18.000000,5.000000,5.540000,34.00000,90.250000,61.310000,2.000000,0.00000,1.000000,0.751000,0.750000,2244.000000,0.000000,3.000000,2.000000,0.300000,0.100000,144.440000,0.000000,0.000000
max,99999.000000,29999.000000,79.000000,20601.133350,23.000000,6.000000,52.070000,59.00000,195.790000,80.000000,44.000000,15.00000,5.000000,1.000000,1.000000,2999.000000,1.000000,11.000000,11.000000,0.550000,0.130000,6388.517628,1.000000,1.000000

1.2.1. Categorical Features

In [ ]:
# Identify numeric columns
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

def is_binary_like(series, tol=1e-8):
    vals = series.dropna().values
    if vals.size == 0:
        return False
    return np.all(np.isclose(vals, 0, atol=tol) | np.isclose(vals, 1, atol=tol))

# Detect binary-like numeric columns
binary_like_features = [col for col in num_cols if is_binary_like(df[col])]

categorical_features = df.select_dtypes(include=['object', 'category']).columns.tolist()
all_categorical_features = list(binary_like_features) + list(categorical_features)

exclude = ['NoOfURLRedirect', 'NoOfSelfRedirect', 'FILENAME', 'URL', 'Domain', 'Title']
all_categorical_features = [
    f for f in all_categorical_features
    if f not in exclude and f in df.columns
]

if 'label' in df.columns and 'label' not in all_categorical_features:
    all_categorical_features.append('label')
elif 'attack_cat' in df.columns and 'attack_cat' not in all_categorical_features:
    all_categorical_features.append('attack_cat')

unique_values = df[all_categorical_features].nunique(dropna=True)
unique_values2 = pd.DataFrame(unique_values, columns=['Unique Value']).reset_index()
unique_values2.rename(columns={'index': 'Feature'}, inplace=True)
unique_values2.index = range(1, len(unique_values2) + 1)

print('\nDetected binary-like numeric columns:', binary_like_features)
print('\nCategorical features considered (after exclusion):')
print(all_categorical_features)
print('\nNumber of Unique Values for Categorical Features (including detected 0/1/NaN numeric columns):')
unique_values2

Detected binary-like numeric columns: ['has_chargeback_history', 'is_new_country', 'is_fraud']

Categorical features considered (after exclusion):
['has_chargeback_history', 'is_new_country', 'is_fraud', 'transaction_id', 'gender', 'country', 'device_type', 'device_os', 'merchant_category', 'transaction_type']

Number of Unique Values for Categorical Features (including detected 0/1/NaN numeric columns):

                   Feature  Unique Value
1   has_chargeback_history             2
2           is_new_country             2
3                 is_fraud             2
4           transaction_id        100000
5                   gender             2
6                  country            10
7              device_type             3
8                device_os             5
9        merchant_category             9
10        transaction_type             4

1.2.2. Numerical Features

In [15]:
# Identify numeric columns
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

binary_like = binary_like_features if 'binary_like_features' in globals() else []
exclude_cols = [c for c in ['NoOfURLRedirect', 'NoOfSelfRedirect', 'FILENAME', 'URL', 'Domain', 'Title', 'id', 'ID'] if c in df.columns]
for t in ['label', 'attack_cat']:
    if t in df.columns and t not in exclude_cols:
        exclude_cols.append(t)

numerical_features = [c for c in num_cols if c not in set(binary_like) and c not in set(exclude_cols)]

if len(numerical_features) == 0:
    print('Warning: no numeric features found after exclusions  falling back to all numeric columns.')
    numerical_features = num_cols

unique_num = df[numerical_features].nunique(dropna=True)
unique_num_df = pd.DataFrame(unique_num, columns=['Unique Values']).reset_index()
unique_num_df.rename(columns={'index': 'Feature'}, inplace=True)
unique_num_df.index = range(1, len(unique_num_df) + 1)

print('Numeric columns considered (after exclusions):')
print(numerical_features)

unique_num_df

Numeric columns considered (after exclusions):
['user_id', 'age', 'transaction_amount', 'time_of_day', 'day_of_week', 'transaction_duration', 'num_prev_transactions', 'avg_transaction_amount', 'std_transaction_amount', 'transactions_last_24h', 'transactions_last_1h', 'failed_login_attempts', 'ip_risk_score', 'device_trust_score', 'account_age_days', 'shared_ip_users', 'shared_device_users', 'merchant_risk', 'country_risk', 'distance_from_home']

                   Feature  Unique Values
1                  user_id          28918
2                      age             62
3       transaction_amount          28920
4              time_of_day             24
5              day_of_week              7
6     transaction_duration           2448
7    num_prev_transactions             49
8   avg_transaction_amount          14709
9   std_transaction_amount           7501
10   transactions_last_24h             45
11    transactions_last_1h             16
12   failed_login_attempts              6
13           ip_risk_score           1001
14      device_trust_score           1001
15        account_age_days           2999
16         shared_ip_users             12
17     shared_device_users             11
18           merchant_risk              8
19            country_risk              7
20      distance_from_home          30865

1.3. Statistik Deskriptif

In [23]:
# Summary statistics for numerical features
summary_stats = df[numerical_features].describe().transpose()
summary_stats = summary_stats[['min', 'max', 'mean', '50%', 'std']]
summary_stats.rename(columns={'50%': 'median'}, inplace=True)
summary_stats.index = range(1, len(summary_stats) + 1)

print("Summary Statistics for Numerical Features:")
summary_stats

Summary Statistics for Numerical Features:

      min           max          mean     median          std
1    1.00  29999.000000  15040.173180  15093.000  8655.074007
2   18.00     79.000000     48.484150     48.000    17.892168
3    0.01  20601.133350    126.855288     64.460   376.035544
4    0.00     23.000000     12.770160     12.000     5.748626
5    0.00      6.000000      2.780700      3.000     2.064754
6    0.00     52.070000      3.999587      2.760     4.012831
7    8.00     59.000000     29.992080     30.000     5.486210
8  -52.89    195.790000     69.969722     69.990    29.961530
9    5.00     80.000000     42.541209     42.480    21.652791
10   0.00     44.000000      2.040150      1.000     3.967414
11   0.00     15.000000      0.309230      0.000     1.464230
12   0.00      5.000000      0.298110      0.000     0.546208
13   0.00      1.000000      0.500395      0.501     0.288944
14   0.00      1.000000      0.499480      0.499     0.288812
15   1.00   2999.000000   1497.325540   1496.000   866.004305
16   0.00     11.000000      2.000770      2.000     1.414676
17   0.00     11.000000      1.499800      1.000     1.225885
18   0.05      0.550000      0.192980      0.120     0.134019
19   0.02      0.130000      0.071324      0.050     0.033203
20   0.00   6388.517628    117.411584     71.810   212.016312

Missing Values

In [16]:
print(df.isna().sum().sort_values(ascending=False))
(missing := df.isna().mean().sort_values(ascending=False))

transaction_amount        2419
device_trust_score        2419
avg_transaction_amount    2419
age                          0
gender                       0
transaction_id               0
ID                           0
device_type                  0
device_os                    0
merchant_category            0
transaction_type             0
time_of_day                  0
day_of_week                  0
country                      0
user_id                      0
num_prev_transactions        0
transaction_duration         0
transactions_last_24h        0
std_transaction_amount       0
transactions_last_1h         0
failed_login_attempts        0
ip_risk_score                0
account_age_days             0
has_chargeback_history       0
shared_ip_users              0
shared_device_users          0
merchant_risk                0
country_risk                 0
distance_from_home           0
is_new_country               0
is_fraud                     0
dtype: int64

transaction_amount        0.02419
device_trust_score        0.02419
avg_transaction_amount    0.02419
age                       0.00000
gender                    0.00000
transaction_id            0.00000
ID                        0.00000
device_type               0.00000
device_os                 0.00000
merchant_category         0.00000
transaction_type          0.00000
time_of_day               0.00000
day_of_week               0.00000
country                   0.00000
user_id                   0.00000
num_prev_transactions     0.00000
transaction_duration      0.00000
transactions_last_24h     0.00000
std_transaction_amount    0.00000
transactions_last_1h      0.00000
failed_login_attempts     0.00000
ip_risk_score             0.00000
account_age_days          0.00000
has_chargeback_history    0.00000
shared_ip_users           0.00000
shared_device_users       0.00000
merchant_risk             0.00000
country_risk              0.00000
distance_from_home        0.00000
is_new_country            0.00000
is_fraud                  0.00000
dtype: float64

# 1. Split Training Set, Validation Set, Testing Set

Splitting the training and validation set works as an early diagnostic towards the performance of the model we train. This is done before the preprocessing steps to **avoid data leakage inbetween the sets**. If you want to use k-fold cross-validation, split the data later and do the cleaning and preprocessing separately for each split.

Note: For training, you should use the data contained in the `train` folder given by the TA. The `test` data is only used for kaggle submission.

In [ ]:
# Split training set and validation set here, store into variables train_set and val_set.
# Remember to also keep the original training set before splitting. This will come important later.
# train_set, val_set = ...

train_set = df.copy()

# 2. Data Cleaning and Preprocessing

This step is the first thing to be done once a Data Scientist have grasped a general knowledge of the data. Raw data is **seldom ready for training**, therefore steps need to be taken to clean and format the data for the Machine Learning model to interpret.

By performing data cleaning and preprocessing, you ensure that your dataset is ready for model training, leading to more accurate and reliable machine learning results. These steps are essential for transforming raw data into a format that machine learning algorithms can effectively learn from and make predictions.

We will give some common methods for you to try, but you only have to **at least implement one method for each process**. For each step that you will do, **please explain the reason why did you do that process. Write it in a markdown cell under the code cell you wrote.**

## A. Data Cleaning

**Data cleaning** is the crucial first step in preparing your dataset for machine learning. Raw data collected from various sources is often messy and may contain errors, missing values, and inconsistencies. Data cleaning involves the following steps:

1. **Handling Missing Data:** Identify and address missing values in the dataset. This can include imputing missing values, removing rows or columns with excessive missing data, or using more advanced techniques like interpolation.

2. **Dealing with Outliers:** Identify and handle outliers, which are data points significantly different from the rest of the dataset. Outliers can be removed or transformed to improve model performance.

3. **Data Validation:** Check for data integrity and consistency. Ensure that data types are correct, categorical variables have consistent labels, and numerical values fall within expected ranges.

4. **Removing Duplicates:** Identify and remove duplicate rows, as they can skew the model's training process and evaluation metrics.

5. **Feature Engineering**: Create new features or modify existing ones to extract relevant information. This step can involve scaling, normalizing, or encoding features for better model interpretability.

### I. Handling Missing Data

Missing data can adversely affect the performance and accuracy of machine learning models. There are several strategies to handle missing data in machine learning:

1. **Data Imputation:**

    a. **Mean, Median, or Mode Imputation:** For numerical features, you can replace missing values with the mean, median, or mode of the non-missing values in the same feature. This method is simple and often effective when data is missing at random.

    b. **Constant Value Imputation:** You can replace missing values with a predefined constant value (e.g., 0) if it makes sense for your dataset and problem.

    c. **Imputation Using Predictive Models:** More advanced techniques involve using predictive models to estimate missing values. For example, you can train a regression model to predict missing numerical values or a classification model to predict missing categorical values.

2. **Deletion of Missing Data:**

    a. **Listwise Deletion:** In cases where the amount of missing data is relatively small, you can simply remove rows with missing values from your dataset. However, this approach can lead to a loss of valuable information.

    b. **Column (Feature) Deletion:** If a feature has a large number of missing values and is not critical for your analysis, you can consider removing that feature altogether.

3. **Domain-Specific Strategies:**

    a. **Domain Knowledge:** In some cases, domain knowledge can guide the imputation process. For example, if you know that missing values are related to a specific condition, you can impute them accordingly.

4. **Imputation Libraries:**

    a. **Scikit-Learn:** Scikit-Learn provides a `SimpleImputer` class that can handle basic imputation strategies like mean, median, and mode imputation.

    b. **Fancyimpute:** Fancyimpute is a Python library that offers more advanced imputation techniques, including matrix factorization, k-nearest neighbors, and deep learning-based methods.

The choice of imputation method should be guided by the nature of your data, the amount of missing data, the problem you are trying to solve, and the assumptions you are willing to make.

In [37]:
# Write your code here

### II. Dealing with Outliers

Outliers are data points that significantly differ from the majority of the data. They can be unusually high or low values that do not fit the pattern of the rest of the dataset. Outliers can significantly impact model performance, so it is important to handle them properly.

Some methods to handle outliers:
1. **Imputation**: Replace with mean, median, or a boundary value.
2. **Clipping**: Cap values to upper and lower limits.
3. **Transformation**: Use log, square root, or power transformations to reduce their influence.
4. **Model-Based**: Use algorithms robust to outliers (e.g., tree-based models, Huber regression).

In [38]:
# Write your code here

### III. Remove Duplicates
Handling duplicate values is crucial because they can compromise data integrity, leading to inaccurate analysis and insights. Duplicate entries can bias machine learning models, causing overfitting and reducing their ability to generalize to new data. They also inflate the dataset size unnecessarily, increasing computational costs and processing times. Additionally, duplicates can distort statistical measures and lead to inconsistencies, ultimately affecting the reliability of data-driven decisions and reporting. Ensuring data quality by removing duplicates is essential for accurate, efficient, and consistent analysis.

In [39]:
# Write your code here

### IV. Feature Engineering

**Feature engineering** involves creating new features (input variables) or transforming existing ones to improve the performance of machine learning models. Feature engineering aims to enhance the model's ability to learn patterns and make accurate predictions from the data. It's often said that "good features make good models."

1. **Feature Selection:** Feature engineering can involve selecting the most relevant and informative features from the dataset. Removing irrelevant or redundant features not only simplifies the model but also reduces the risk of overfitting.

2. **Creating New Features:** Sometimes, the existing features may not capture the underlying patterns effectively. In such cases, engineers create new features that provide additional information. For example:
   
   - **Polynomial Features:** Engineers may create new features by taking the square, cube, or other higher-order terms of existing numerical features. This can help capture nonlinear relationships.
   
   - **Interaction Features:** Interaction features are created by combining two or more existing features. For example, if you have features "length" and "width," you can create an "area" feature by multiplying them.

3. **Binning or Discretization:** Continuous numerical features can be divided into bins or categories. For instance, age values can be grouped into bins like "child," "adult," and "senior."

4. **Domain-Specific Feature Engineering:** Depending on the domain and problem, engineers may create domain-specific features. For example, in fraud detection, features related to transaction history and user behavior may be engineered to identify anomalies.

Feature engineering is both a creative and iterative process. It requires a deep understanding of the data, domain knowledge, and experimentation to determine which features will enhance the model's predictive power.

In [40]:
# Write your code here

## B. Data Preprocessing

**Data preprocessing** is a broader step that encompasses both data cleaning and additional transformations to make the data suitable for machine learning algorithms. Its primary goals are:

1. **Feature Scaling:** Ensure that numerical features have similar scales. Common techniques include Min-Max scaling (scaling to a specific range) or standardization (mean-centered, unit variance).

2. **Encoding Categorical Variables:** Machine learning models typically work with numerical data, so categorical variables need to be encoded. This can be done using one-hot encoding, label encoding, or more advanced methods like target encoding.

3. **Handling Imbalanced Classes:** If dealing with imbalanced classes in a binary classification task, apply techniques such as oversampling, undersampling, or using different evaluation metrics to address class imbalance.

4. **Dimensionality Reduction:** Reduce the number of features using techniques like Principal Component Analysis (PCA) or feature selection to simplify the model and potentially improve its performance.

5. **Normalization:** Normalize data to achieve a standard distribution. This is particularly important for algorithms that assume normally distributed data.

### Notes on Preprocessing processes

It is advised to create functions or classes that have the same/similar type of inputs and outputs, so you can add, remove, or swap the order of the processes easily. You can implement the functions or classes by yourself

or

use `sklearn` library. To create a new preprocessing component in `sklearn`, implement a corresponding class that includes:
1. Inheritance to `BaseEstimator` and `TransformerMixin`
2. The method `fit`
3. The method `transform`

In [41]:
# Example

# from sklearn.base import BaseEstimator, TransformerMixin

# class FeatureEncoder(BaseEstimator, TransformerMixin):

#     def fit(self, X, y=None):

#         # Fit the encoder here

#         return self

#     def transform(self, X):
#         X_encoded = X.copy()

#         # Encode the categorical variables here

#         return X_encoded

### I. Feature Scaling

**Feature scaling** is a preprocessing technique used in machine learning to standardize the range of independent variables or features of data. The primary goal of feature scaling is to ensure that all features contribute equally to the training process and that machine learning algorithms can work effectively with the data.

Here are the main reasons why feature scaling is important:

1. **Algorithm Sensitivity:** Many machine learning algorithms are sensitive to the scale of input features. If the scales of features are significantly different, some algorithms may perform poorly or take much longer to converge.

2. **Distance-Based Algorithms:** Algorithms that rely on distances or similarities between data points, such as k-nearest neighbors (KNN) and support vector machines (SVM), can be influenced by feature scales. Features with larger scales may dominate the distance calculations.

3. **Regularization:** Regularization techniques, like L1 (Lasso) and L2 (Ridge) regularization, add penalty terms based on feature coefficients. Scaling ensures that all features are treated equally in the regularization process.

Common methods for feature scaling include:

1. **Min-Max Scaling (Normalization):** This method scales features to a specific range, typically [0, 1]. It's done using the following formula:

   $$X' = \frac{X - X_{min}}{X_{max} - X_{min}}$$

   - Here, $X$ is the original feature value, $X_{min}$ is the minimum value of the feature, and $X_{max}$ is the maximum value of the feature.  
<br />
<br />
2. **Standardization (Z-score Scaling):** This method scales features to have a mean (average) of 0 and a standard deviation of 1. It's done using the following formula:

   $$X' = \frac{X - \mu}{\sigma}$$

   - $X$ is the original feature value, $\mu$ is the mean of the feature, and $\sigma$ is the standard deviation of the feature.  
<br />
<br />
3. **Robust Scaling:** Robust scaling is a method that scales features to the interquartile range (IQR) and is less affected by outliers. It's calculated as:

   $$X' = \frac{X - Q1}{Q3 - Q1}$$

   - $X$ is the original feature value, $Q1$ is the first quartile (25th percentile), and $Q3$ is the third quartile (75th percentile) of the feature.  
<br />
<br />
4. **Log Transformation:** In cases where data is highly skewed or has a heavy-tailed distribution, taking the logarithm of the feature values can help stabilize the variance and improve scaling.

The choice of scaling method depends on the characteristics of your data and the requirements of your machine learning algorithm. **Min-max scaling and standardization are the most commonly used techniques and work well for many datasets.**

Scaling should be applied separately to each training and test set to prevent data leakage from the test set into the training set. Additionally, **some algorithms may not require feature scaling, particularly tree-based models.**

In [42]:
# Write your code here

### II. Feature Encoding

**Feature encoding**, also known as **categorical encoding**, is the process of converting categorical data (non-numeric data) into a numerical format so that it can be used as input for machine learning algorithms. Most machine learning models require numerical data for training and prediction, so feature encoding is a critical step in data preprocessing.

Categorical data can take various forms, including:

1. **Nominal Data:** Categories with no intrinsic order, like colors or country names.  

2. **Ordinal Data:** Categories with a meaningful order but not necessarily equidistant, like education levels (e.g., "high school," "bachelor's," "master's").

There are several common methods for encoding categorical data:

1. **Label Encoding:**

   - Label encoding assigns a unique integer to each category in a feature.
   - It's suitable for ordinal data where there's a clear order among categories.
   - For example, if you have an "education" feature with values "high school," "bachelor's," and "master's," you can encode them as 0, 1, and 2, respectively.
<br />
<br />
2. **One-Hot Encoding:**

   - One-hot encoding creates a binary (0 or 1) column for each category in a nominal feature.
   - It's suitable for nominal data where there's no inherent order among categories.
   - Each category becomes a new feature, and the presence (1) or absence (0) of a category is indicated for each row.
<br />
<br />
3. **Target Encoding (Mean Encoding):**

   - Target encoding replaces each category with the mean of the target variable for that category.
   - It's often used for classification problems.

In [43]:
# Write your code here

### III. Handling Imbalanced Dataset

**Handling imbalanced datasets** is important because imbalanced data can lead to several issues that negatively impact the performance and reliability of machine learning models. Here are some key reasons:

1. **Biased Model Performance**:

 - Models trained on imbalanced data tend to be biased towards the majority class, leading to poor performance on the minority class. This can result in misleading accuracy metrics.

2. **Misleading Accuracy**:

 - High overall accuracy can be misleading in imbalanced datasets. For example, if 95% of the data belongs to one class, a model that always predicts the majority class will have 95% accuracy but will fail to identify the minority class.

3. **Poor Generalization**:

 - Models trained on imbalanced data may not generalize well to new, unseen data, especially if the minority class is underrepresented.


Some methods to handle imbalanced datasets:
1. **Resampling Methods**:

 - Oversampling: Increase the number of instances in the minority class by duplicating or generating synthetic samples (e.g., SMOTE).
 - Undersampling: Reduce the number of instances in the majority class to balance the dataset.

2. **Evaluation Metrics**:

 - Use appropriate evaluation metrics such as precision, recall, F1-score, ROC-AUC, and confusion matrix instead of accuracy to better assess model performance on imbalanced data.

3. **Algorithmic Approaches**:

 - Use algorithms that are designed to handle imbalanced data, such as decision trees, random forests, or ensemble methods.
 - Adjust class weights in algorithms to give more importance to the minority class.

In [44]:
# Write your code here

### IV. Data Normalization

Data normalization is used to achieve a standard distribution. Without normalization, models or processes that rely on the assumption of normality may not work correctly. Normalization helps reduce the magnitude effect and ensures numerical stability during optimization.

In [45]:
# Write your code here

### V. Dimensionality Reduction

Dimensionality reduction is a technique used in data preprocessing to reduce the number of input features (dimensions) in a dataset while retaining as much important information as possible. It is essential when dealing with high-dimensional data, where too many features can cause problems like increased computational costs, overfitting, and difficulty in visualization. Reducing dimensions simplifies the data, making it easier to analyze and improving the performance of machine learning models.

One of the main approaches to dimensionality reduction is feature extraction. Feature extraction creates new, smaller sets of features that capture the essence of the original data. Common techniques include:

1. **Principal Component Analysis (PCA)**: Converts correlated features into a smaller number of uncorrelated "principal components."
2. **t-SNE (t-Distributed Stochastic Neighbor Embedding)**: A visualization-focused method to project high-dimensional data into 2D or 3D spaces.
3. **Autoencoders**: Neural networks that learn compressed representations of the data.

In [46]:
# Write your code here

# 3. Compile Preprocessing Pipeline

All of the preprocessing classes or functions defined earlier will be compiled in this step.

If you use sklearn to create preprocessing classes, you can list your preprocessing classes in the Pipeline object sequentially, and then fit and transform your data.

In [47]:
# from sklearn.pipeline import Pipeline

# # Note: You can add or delete preprocessing components from this pipeline

# pipe = Pipeline([("imputer", FeatureImputer()),
#                  ("featurecreator", FeatureCreator()),
#                  ("scaler", FeatureScaler()),
#                  ("encoder", FeatureEncoder())])

# train_set = pipe.fit_transform(train_set)
# val_set = pipe.transform(val_set)

In [48]:
# # Your code should work up until this point
# train_set = pipe.fit_transform(train_set)
# val_set = pipe.transform(val_set)

or create your own here

In [49]:
# Write your code here

# 4. Modeling and Validation

Modelling is the process of building your own machine learning models to solve specific problems, or in this assignment context, predicting the target feature `attack_cat`. Validation is the process of evaluating your trained model using the validation set or cross-validation method and providing some metrics that can help you decide what to do in the next iteration of development.

## A. DTL

In [50]:
# Type your code here

## B. Logistic Regression

In [51]:
# Type your code here

## C. KNN

In [52]:
# Type your code here

## D. Improvements (Optional)

- **Visualize the model evaluation result**

This will help you to understand the details more clearly about your model's performance. From the visualization, you can see clearly if your model is leaning towards a class than the others. (Hint: confusion matrix, ROC-AUC curve, etc.)

- **Explore the hyperparameters of your models**

Each models have their own hyperparameters. And each of the hyperparameter have different effects on the model behaviour. You can optimize the model performance by finding the good set of hyperparameters through a process called **hyperparameter tuning**. (Hint: Grid search, random search, bayesian optimization)

- **Cross-validation**

Cross-validation is a critical technique in machine learning and data science for evaluating and validating the performance of predictive models. It provides a more **robust** and **reliable** evaluation method compared to a hold-out (single train-test set) validation. Though, it requires more time and computing power because of how cross-validation works. (Hint: k-fold cross-validation, stratified k-fold cross-validation, etc.)

In [53]:
# Type your code here

## E. Submission
To predict the test set target feature and submit the results to the kaggle competition platform, do the following:
1. Create a new pipeline instance identical to the first in Data Preprocessing
2. With the pipeline, apply `fit_transform` to the original training set before splitting, then only apply `transform` to the test set.
3. Retrain the model on the preprocessed training set
4. Predict the test set
5. Make sure the submission contains the `id` and `attack_cat` column.

In [54]:
# Type your code here

# 6. Error Analysis

Based on all the process you have done until the modeling and evaluation step, write an analysis to support each steps you have taken to solve this problem. Write the analysis using the markdown block. Some questions that may help you in writing the analysis:

- Does my model perform better in predicting one class than the other? If so, why is that?
- To each models I have tried, which performs the best and what could be the reason?
- Is it better for me to impute or drop the missing data? Why?
- Does feature scaling help improve my model performance?
- etc...

`Provide your analysis here`